$theme-colors: (
  "primary":  #1A129F,
  "secondary":#7E76F9,
  "success":#43B943,
  "info":#B2ADFC,
  "warning":#EAB302,
  "danger": #FB294F,
);
$border-radius:1rem;
$btn-border-radius-lg:2rem;

$btn-padding-x: 1.5rem;           
$btn-padding-x-lg: 2rem;           

@import"../node_modules/bootstrap/scss/bootstrap.scss";

// #1A129F
